body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(anime.jpg) no-repeat center center  fixed;
  background-size: cover;
}
h1{
	color: #13d2af;
	font-size: 3rem;
}
hr{
	border-width: 2px;
	max-width:54px;
	background-color: orange;
	margin-left: 36rem;
}
.buffer{
	height: 9rem;
}
button{
	color: #119c55d9;
	background-color: #000000c2;
	border-radius: 325px;
	box-shadow: 2px 2px black;
	border-color:#000000c2;
	padding: 1rem 1rem;
	margin-left:6rem;
}
button:hover{
	background-color: #32393f;
	transition: all 0.4s ease-in;
	transform: scale(1.1);
}